body {
      margin-top: 100px;
  font-family: Arial;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: center;
}

* {
  box-sizing: border-box;
}


form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button {
  background: #F88306;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


table th
{
background-color:#FF3C4E;
border: solid;
border-color: black;
color: black;
}
table td
{
background-color:white;
border: solid;
border-color: black;
color: black;

}

.button
{
   background-color: #FF3C4E;
}


  .searchbutton
      {
        width: 10%;
        height: 70%;
        background-color:#FF3C4E;

      }